@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gwendolyn:wght@400;700&family=Satisfy&display=swap');

$base-background-color: #222222;
$base-background-hover: #455a64;
$base-text-color: #d3d3d3;
$base-text-light: #ffffff;
$base-text-special-span: #964b00;
$base-text-normal-span: #c99a6b;
$base-background-shadow: #22222290;
$straight-line: #039BCF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: serif;
  color: $base-text-light;
  position: relative;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-align: left;
}

.main-container {
  padding: 25px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

button {
  outline: none;
  border: none;
  font-family: 'Bellota';
  font-weight: bold;
  border-radius: .2em;
  cursor: pointer;
}

.button-small {
  padding: .2em .4em;
}

.button-large {
  padding: .2em .3em;
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@import "./components/homepage.scss";
@import "./components/project.scss";
@import "./components/education.scss";
@import "./components/experience.scss";
@import "./components/project_detail.scss";
@import "./components/contact.scss";
@import "./components/stack.scss";
@import "./components/carousel.scss";
@import "./components/cursor.scss";
@import "./components/modal.scss";


.mobile_not_present {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2em;
  background: $base-background-color;
  color: $base-text-color;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Bellota';
  font-weight: 700;
  font-size: 1.3em;
}