@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gwendolyn:wght@400;700&family=Satisfy&display=swap');

$base-background-color: #222222;
$base-background-hover: #455a64;
$base-text-color: #d3d3d3;
$base-text-light: #ffffff;
$base-text-special-span: #964b00;
$base-text-normal-span: #c99a6b;
$base-background-shadow: #22222290;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: serif;
  color: $base-text-light;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-align: left;
}

.main-container {
  padding: 25px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

button {
  outline: none;
  border: none;
  font-family: 'Bellota';
  font-weight: bold;
  border-radius: .2em;
}

.button-small {
  padding: .2em .4em;
}

.button-large {
  padding: .2em .3em;
}


@import "./components/homepage.scss";
@import "./components/project.scss";
@import "./components/carousel.scss";
@import "./components/cursor.scss";