// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  --primary: #444;
  --primary-alt: #444;
  --grey: #64748b;
  --dark: #334155;
  --dark-alt: #1e293b;
  --light: #f1f5f9;
  --sidebar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background: var(--light);
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.app {
  display: flex;

  main {
    flex: 1 1 0;
    padding: 2rem;

    @media screens and (max-width: 768px) {
      padding-left: 6rem;
    }
  }
}
