

.carousel-container {
    padding-bottom: 2em;

    .carousel-container-slide {
        display: block;
        width: 100%;
        height: 50vh;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: .3em;
    
        border: $base-background-hover 1px solid;

        li {
            text-decoration: none;
        }
    }
}