@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: .2em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d3d3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222222;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #455a64;
  }